:root {
    --green-color: #31bc86;
    --grey-color: #ddd;
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 0.25em;
}

::-webkit-scrollbar-thumb {
    background-color: color-mod(var(--green-color) alpha(15%));
}

::-webkit-scrollbar-thumb {
    border-radius: 0.25em;
}

::-webkit-scrollbar-track {
    background: #fafafa;
    border-radius: 0.25em;
}

/* --------------------------------
  Buttons section
-------------------------------- */

button {
    font-weight: 900;
    font-size: 1em;
    border-radius: 3px;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 0.5em 1.5em;
    margin-right: 2em;
    background-color: color-mod(var(--green-color) alpha(15%));
    color: color-mod(var(--green-color) alpha(75%));
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    &.less {
        padding: 0;
        background-color: transparent;
        color: color-mod(var(--green-color) alpha(50%));

        &:hover {
            color: color-mod(var(--green-color) alpha(75%));
        }
    }

    &:not(.less):hover {
        color: rgba(255, 255, 255, 0.75);
        background-color: rgba(49, 188, 135, 0.65);
    }
}

/* --------------------------------
  Inputs section
-------------------------------- */

textarea {
    font-weight: 400;
    border-radius: 3px;
    border: 0;
    outline: 0;
    padding: 1em;
    width: 100%;
    font-size: 1em;
    box-shadow: none;
    background-color: color-mod(var(--green-color) alpha(5%));
    color: #31bc86;
    resize: vertical;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

input.field {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: color-mod(var(--green-color) alpha(15%));
    font-weight: 900;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    font-size: 1em;
    color: color-mod(var(--green-color) alpha(50%));
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    
    &:focus {
        color: #fff;
        background-color: color-mod(var(--green-color) alpha(75%));
    }
}

/* --------------------------------
  Checkboxes section
-------------------------------- */

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-right: 2em;

    & span {
        display: inline-block;
        vertical-align: middle;
        font-weight: 900;
        transform: translate3d(0, 0, 0);
        color: color-mod(var(--green-color) alpha(35%));
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);

        &:first-child {
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 0.25em;
            vertical-align: middle;
            transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
            background-color: color-mod(var(--green-color) alpha(15%));

            & svg {
                position: absolute;
                top: 5px;
                left: 4px;
                fill: none;
                stroke: #ffffff;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-dasharray: 16px;
                stroke-dashoffset: 16px;
                transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
                transition-delay: 0.1s;
                transform: translate3d(0, 0, 0);
            }

            &:before {
                content: '';
                width: 100%;
                height: 100%;
                background: color-mod(var(--green-color) alpha(75%));
                display: block;
                transform: scale(0);
                opacity: 1;
                border-radius: 50%;
            }
        }

        &:last-child {
            padding-left: 0.5em;
            font-size: 0.95em;
        }
    }

    &:hover span:first-child {
        border-color: color-mod(var(--green-color) alpha(75%));
    }
}

.inp-cbx {
    display: none;
}

.inp-cbx:checked + .cbx span {
    color: color-mod(var(--green-color) alpha(75%));

    &:first-child {
        background: rgba(49, 188, 135, 0.75);
        border-color: rgba(49, 188, 135, 0.75);

        & svg {
            stroke-dashoffset: 0;
        }

        &:before {
            transform: scale(3.5);
            opacity: 0;
            transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
        }
    }
}